.moreDetails {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.arrow {
    width: 30px;
    height: 30px;
}

.moreDetails_info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.moreDetails_info_left {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.moreDetails_item p {
    font-size: 20px;
    font-weight: 500;
}

.item_title {
    font-size: 24px;
    font-weight: 600;
}

.moreDetails_item ul{
    padding: 0;
}

.list li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
}

.list li::before {
    content: '-';
    margin-right: 5px;
    font-size: 20px;
}

.hey{
    display: flex;
    justify-content: space-between;
    gap: 5rem;

    background-color: black;
}

.item_downland {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.item_downland h2 {
    margin-bottom: 0px;
}

.downland {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}


@media (max-width: 1300px) {
    .map img{
        display: none;
    }

    .moreDetails_info_left {
        max-width: 100%;
    }

    .item_downland {
        max-width: 100%;
        flex-direction: column;
        align-items: normal;
        gap: 10px;
    }
}