.projects_container {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.projects_item {
    width: 100%;
    height: auto;
}

.projects_item img {
    width: 100%;
    height: auto;
}

.projects_item_subtitle {
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 500;
}

.projects_item_year {
    font-size: 20px;
    font-weight: 300;
}

@media (max-width: 1000px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .projects_item_subtitle {
        font-size: 5vw;
    }

    .projects_item_year {
        font-size: 4.5vw;
    }
}