.moreInfo {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.moreInfo_item {
    text-align: center;
}

.needCorrectWidth {
    width: 615px;
}

.moreInfo_item p {
    margin-bottom: 0px;
    font-size: 26px;
    font-weight: 500;
}

.button {
    margin-top: 30px;
}

@media (max-width: 1300px) {

    .needCorrectWidth {
        width: 100%;
    }

    .moreInfo_item {
        text-align: start;
    }

    .moreInfo_item:nth-child(2) {
        display: none;
    }

    .button {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .needCorrectWidth p {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    .needCorrectWidth p {
        font-size: 5vw;
    }
}