.moreInfo {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.moreInfo_item {
    text-align: center;
}

.needCorrectWidth {
    width: 615px;
}

.moreInfo_item p {
    font-size: 26px;
    font-weight: 500;
}

.button {
    margin-top: 30px;
}

@media (max-width: 1300px) {
    .moreInfo {
        flex-direction: column-reverse;

        margin-top: 2rem;
    }

    .moreInfo_item  p{
        margin-top: 1rem;
    }

    .moreInfo_item:nth-child(2) {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .needCorrectWidth {
        width: 400px;
    }

    .needCorrectWidth p {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .moreInfo_item:nth-child(2) {
        width: 300px;
        height: auto;
    }

    .moreInfo_item img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 440px) {
    .needCorrectWidth {
        width: 250px;
    }

    .needCorrectWidth p {
        font-size: 16px;
    }
}