* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "KoHo", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

section {
  height: 100vh;
}

.button {
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
  background: #00346A;
  outline: none;
  border: none;
  cursor: pointer;
}

.title {
  font-size: 1.875rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .button {
    padding: 8px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 6vw;
  }
}

@media (max-width: 440px) {
  .button {
    padding: 6px;
    font-size: 5vw;
  }
}