.gallery{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;
}

.carousel{
    width: 1280px;
    height: 680px;
}

.carousel img{
    width: 1280px;
    height: 680px;
}

.carousel h2{
    font-size: 20px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
}

.carousel p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
}


@media (max-width: 1280px) {
    .carousel{
        width: 100%;
        height: auto;
    }
    
    .carousel img{
        width: 100%;
        height: auto;
    }
}